<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bluetooth Heartrate Over HTTP</title>
</head>

<body>
    <div class="mainContainer">
        <div class="startSendingButtonContainer">
            <button class="startSendingButton startSendingButton--clickToSend">Start Sending HR Data</button>
        </div>
        <div class="heartRateValueContainer">
            <span class="heartRateValue"></span>
        </div>
    </div>
</body>

</html>