@import './include-media';
$heartbeat-max-dimension-px: 68px;

body {
    font-family: "Arial", serif;
    margin: 0;
    overflow: hidden;
}

.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.heartRateDataContainer {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 100%;
}

.heartRateAnimationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: $heartbeat-max-dimension-px;
    min-height: $heartbeat-max-dimension-px;
    margin: 0 8px;
}

.heartRateChartContainer {
    width: 100%;
    height: 100%;
}

.heartRateChart {
}

@keyframes heartbeat {
    0% {
        width: 64px;
        height: 64px;
    }

    30% {
        width: $heartbeat-max-dimension-px;
        height: $heartbeat-max-dimension-px;
    }

    60% {
        width: 64px;
        height: 64px;
    }
}

.heartRateAnimation {
    width: 64px;
    height: 64px;
    animation: heartbeat 99999s infinite;
    animation-fill-mode: forwards;
}

.heartRateValue {
    margin: 0;
    font-size: 64px;
    width: 100px;
    text-align: center;
    flex-shrink: 0;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.transmittingText {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #DDD;

    &--displayNone {
        display: none;
    }
}
